
<div class="w-100 banner mat-app-background">
    <div class="triangle"></div>
    <div class="sub-triangle"></div>
    <div class="avatar w-100 d-flex justify-content-center ">

        <div class="empty-box-left">
            <div class="mat-app-background">

            </div>
        </div>
        <img src="assets/avatarz.PNG" alt="Avatar Gaspar Santillan" class="shadow">
        <div class="empty-box-right">
            <div class="mat-app-background">
                <h3>Front-end</h3>
                <strong>Developer</strong>
            </div>
        </div>

    </div>
    
</div>