.triangle {
    width: 650px;
    height: 650px;
    border-top: 180px solid rgba(226, 226, 226, 0.03039215686);
    border-right: 180px solid rgba(226, 226, 226, 0.03039215686);
    transform: rotate(45deg);
    position: absolute;
    left: 25%;
    top: 19%;
    z-index: 0;
}
.sub-triangle {
    width: 650px;
    height: 650px;
    border-top: 13px solid rgba(226, 226, 226, 0.03039215686);
    border-right: 13px solid rgba(226, 226, 226, 0.03039215686);
    transform: rotate(45deg);
    position: absolute;
    left: 28%;
    top: 19%;
    z-index: 0;
}
.avatar {   
    padding-top: 14%;
    border-radius: 50%;
    img {
        width: 250px;
        z-index: 2;
        border-radius: 50%;
    }
    .avatar-wrapper {
        z-index: 2;
    }
}
.banner {
    height: 94vh !important;   
}
.empty-box-left,
.empty-box-right {
    width: 298px;
    height: 379px;  
    position: absolute;        
    top: 311px;
    background: rgb(216,27,96);
    background: linear-gradient(302deg, rgba(216,27,96,1) 0%, rgba(174,137,249,1) 55%, rgba(142,36,170,1) 100%);
    div {
        margin-top: 6px;
        margin-left: 9px;
        width: 97%;
        height: 97%;
        padding: 5px;
    }
   
}

.empty-box-left {      
    left: 0;
    transform: rotate(180deg);
    div {
        margin-right: 0px;
        margin-left: 9px;
    }

}
.empty-box-right {    
    right: 0;
    h3 {
        letter-spacing: 4px;
        font-size: 2.6rem;
        /* padding: 10px; */
        padding-left: 20px;
        padding-top: 150px;
    }
    strong {
        padding-left: 20px;
        font-size: 1.6rem;
        margin-top: 15px;
    }
}
.social-media {
    gap: 50px;
    font-size: 2.5rem;
    margin-top: 18px;
    margin-bottom: 50px;
    .social-media-icon {
        cursor: pointer;
    }
}