
<div class="w-100 banner mat-app-background">
    <app-sidenav></app-sidenav>

    <img 
    *ngFor="let skill of skills$ | async as skills"
    [src]="skill.url" 
    [alt]="skill.name"
    class="position-absolute floating-icon"  
    [@floatingIcon]="{value:scrolled ? 'end' : 'start', params: {left:skill.left, bottom:skill.bottom} }">   

    <div class="triangle"></div>
    <div class="sub-triangle"></div>
    <div class="avatar w-100 d-flex justify-content-center ">     

        <div class="d-flex flex-column justify-content-center align-items-center text-center avatar-wrapper">
            <h1 class="mb-3 fs-1">Welcome to my Portfolio!</h1>
            <h3 class="mb-1 fs-5">I'm a passionate self-taught developer who loves the art of crafting software... </h3>           
            <h4 class="fs-5">Contact me down below and let's build together</h4>
            <div class="social-media d-flex justify-content-center align-items-center">
                <fa-icon [icon]="faLinkedin" class="social-media-icon"></fa-icon>
                <fa-icon [icon]="faWhatsapp" class="social-media-icon"></fa-icon>
                <fa-icon [icon]="faEnvelope" class="social-media-icon"></fa-icon>
            </div>           
            <img src="assets/avatarz.webp" alt="Avatar Gaspar Santillan" class="shadow">
        </div>
    

        <div class="empty-box-right shadow">
            <div class="mat-app-background">
                <h3>Front-end</h3>
                <strong>Developer</strong>
            </div>
        </div>

        <!-- <div class="violet-light mat-app-background" [ngClass]="{'d-none':darkmode | async}"></div> -->

    </div>
    
</div>