<mat-toolbar color="primary" class="shadow navbar">
  
    <div class="d-flex justify-content-between align-items-center w-100">
        <h2>  Gaspar Santillan</h2>  
        <div>
            <button mat-raised-button color="accent" class="me-5">	<mat-icon class="me-2">cloud_download</mat-icon>Resume</button>
            <mat-slide-toggle [formControl]="toggleControl" class="me-2" color="basic">
            </mat-slide-toggle>
            <mat-icon class="pt-3 darkmode-btn">brightness_high</mat-icon>      
        </div>       
    </div>
</mat-toolbar>  
