h2 {
    @media (max-width:430px) {
        font-size: 1rem;
    }
    
}
.darkmode-btn {
    height: auto !important;
    margin-bottom: -3px;    
}
.navbar {    
    position: fixed;
    width: 100%;
    z-index: 99;
    background: rgb(64,59,72);
    background: linear-gradient(0deg, rgb(18 19 38) 0%, rgb(32 32 32) 100%);
    height: 65px;
}
.resume-btn {
    @media (max-width:550px) {
        margin-right: 5px !important;
    }   
    @media (max-width:580px) {
        padding-left: 23px;
    }      
    
}
.resume-text {
    @media (max-width:580px) {
        display: none;
    }
}

