.darkmode-btn {
    height: auto !important;
    margin-bottom: -3px;
    
}
.navbar {
    z-index: 20;
    background: rgb(64,59,72);
    background: linear-gradient(0deg, rgb(18 19 38) 0%, rgb(32 32 32) 100%);
}