<mat-toolbar class="shadow navbar">
  
    <div class="d-flex justify-content-between align-items-center w-100">
        <h2 [ngClass]="{'text-white':darkModeActivated}">  Gaspar Santillan</h2>  
        <div>
            <button mat-raised-button color="accent" class="me-5 resume-btn">	
                <mat-icon class="me-2 icon">cloud_download</mat-icon>
                <span class="resume-text">Resume</span>
            </button>
            <mat-slide-toggle [formControl]="toggleControl" class="me-2" color="basic">
            </mat-slide-toggle>
            <mat-icon class="pt-3 darkmode-btn" [ngClass]="{'text-white':darkModeActivated}">brightness_high</mat-icon>      
        </div>       
    </div>
</mat-toolbar>  
