.projects-wrapper {
    padding-top: 80px;   
    @media (max-width:992px) {
        height: auto !important;
    }
    .project {
        position: relative;
        strong {
            letter-spacing: 1px;
        }        
    }   
   
}
.project-col {
    @media (max-width:992px) {
        margin-bottom: 50px;
    }
}
.appname {
    padding-top: 20px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.1rem;
}
.apptype {
    width: 20%;
    border-radius: 50px;
    background-color: #424242;
    top: 287px;
    left: 40%;
    padding: 6px;
    text-align: center;
    @media (max-width:650px) {   
        display: none;
    }
}
.project-description {
    padding-top: 30px;
}
.project-wrapper {
    cursor: pointer;
    &:hover{
        box-shadow: 2px 5px 5px #cd44e5 !important;
    }
}
.project-img {
    height: 300px;
    @media (max-width:650px) {
        height: auto;   
    }
}


